SeeSharp/Service References/ServiceReference1/ServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15504/ServerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15504/ServerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15504/ServerService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerService_CreateDirectoriesIfDosentExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoriesIfDosentExists" />
  </wsdl:message>
  <wsdl:message name="IServerService_CreateDirectoriesIfDosentExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoriesIfDosentExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_CreateDirectoryForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoryForUser" />
  </wsdl:message>
  <wsdl:message name="IServerService_CreateDirectoryForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoryForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_CompileAndRunProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:CompileAndRunProgram" />
  </wsdl:message>
  <wsdl:message name="IServerService_CompileAndRunProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompileAndRunProgramResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_UpdateUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfile" />
  </wsdl:message>
  <wsdl:message name="IServerService_UpdateUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetAchivmentFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAchivmentFile" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetAchivmentFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAchivmentFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_UpdateAchivmentFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAchivmentFile" />
  </wsdl:message>
  <wsdl:message name="IServerService_UpdateAchivmentFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAchivmentFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetModuleText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleText" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetModuleText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleTextResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerService">
    <wsdl:operation name="CreateDirectoriesIfDosentExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/CreateDirectoriesIfDosentExists" message="tns:IServerService_CreateDirectoriesIfDosentExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/CreateDirectoriesIfDosentExistsResponse" message="tns:IServerService_CreateDirectoriesIfDosentExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDirectoryForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/CreateDirectoryForUser" message="tns:IServerService_CreateDirectoryForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/CreateDirectoryForUserResponse" message="tns:IServerService_CreateDirectoryForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/GetUserProfile" message="tns:IServerService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/GetUserProfileResponse" message="tns:IServerService_GetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompileAndRunProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/CompileAndRunProgram" message="tns:IServerService_CompileAndRunProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/CompileAndRunProgramResponse" message="tns:IServerService_CompileAndRunProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/UpdateUserProfile" message="tns:IServerService_UpdateUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/UpdateUserProfileResponse" message="tns:IServerService_UpdateUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAchivmentFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/GetAchivmentFile" message="tns:IServerService_GetAchivmentFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/GetAchivmentFileResponse" message="tns:IServerService_GetAchivmentFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAchivmentFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/UpdateAchivmentFile" message="tns:IServerService_UpdateAchivmentFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/UpdateAchivmentFileResponse" message="tns:IServerService_UpdateAchivmentFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleText">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/GetModuleText" message="tns:IServerService_GetModuleText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/GetModuleTextResponse" message="tns:IServerService_GetModuleText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerService" type="tns:IServerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDirectoriesIfDosentExists">
      <soap:operation soapAction="http://tempuri.org/IServerService/CreateDirectoriesIfDosentExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDirectoryForUser">
      <soap:operation soapAction="http://tempuri.org/IServerService/CreateDirectoryForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://tempuri.org/IServerService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompileAndRunProgram">
      <soap:operation soapAction="http://tempuri.org/IServerService/CompileAndRunProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <soap:operation soapAction="http://tempuri.org/IServerService/UpdateUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAchivmentFile">
      <soap:operation soapAction="http://tempuri.org/IServerService/GetAchivmentFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAchivmentFile">
      <soap:operation soapAction="http://tempuri.org/IServerService/UpdateAchivmentFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModuleText">
      <soap:operation soapAction="http://tempuri.org/IServerService/GetModuleText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="BasicHttpBinding_IServerService" binding="tns:BasicHttpBinding_IServerService">
      <soap:address location="http://localhost:15504/ServerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>