SeeSharp/Service References/ServiceReference1/ServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15504/ServerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15504/ServerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15504/ServerService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerService_CreateMainDirectoryIfDosentExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMainDirectoryIfDosentExists" />
  </wsdl:message>
  <wsdl:message name="IServerService_CreateMainDirectoryIfDosentExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMainDirectoryIfDosentExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_CreateDirectoryForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoryForUser" />
  </wsdl:message>
  <wsdl:message name="IServerService_CreateDirectoryForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoryForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerService">
    <wsdl:operation name="CreateMainDirectoryIfDosentExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/CreateMainDirectoryIfDosentExists" message="tns:IServerService_CreateMainDirectoryIfDosentExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/CreateMainDirectoryIfDosentExistsResponse" message="tns:IServerService_CreateMainDirectoryIfDosentExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDirectoryForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/CreateDirectoryForUser" message="tns:IServerService_CreateDirectoryForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/CreateDirectoryForUserResponse" message="tns:IServerService_CreateDirectoryForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/GetUserProfile" message="tns:IServerService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/GetUserProfileResponse" message="tns:IServerService_GetUserProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerService" type="tns:IServerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMainDirectoryIfDosentExists">
      <soap:operation soapAction="http://tempuri.org/IServerService/CreateMainDirectoryIfDosentExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDirectoryForUser">
      <soap:operation soapAction="http://tempuri.org/IServerService/CreateDirectoryForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://tempuri.org/IServerService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="BasicHttpBinding_IServerService" binding="tns:BasicHttpBinding_IServerService">
      <soap:address location="http://localhost:15504/ServerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>